# Python
__pycache__/
*.pyc
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Environment / Secrets
.env
*.env

# Large data files
*.parquet
*.csv

# Logs
*.log

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db